.MenuButton {
  display: inline-block;
  box-shadow: none;
  border: none;
  height: 65px;
  width: 100%;
  cursor: pointer;
  background: #293a4c;
  transition: all, .3s;

  &:active {
    background: darken(#293a4c, 5%);
  }
}

.Text {
  display: block;
  color: #8393a3;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
}