a {
  text-decoration: none;
  color: inherit;
}

.ChatItem {
  width: 100%;
  height: 65px;
  //overflow: hidden;
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  transition: all, .3s;

  &:hover {
    background: rgba(0, 0, 0, .07);
  }
}

.Active {
  background: #419fd9;

  &:hover {
    background: #419fd9;
  }

  .ChatRight,
  .ChatCenter,
  .Text {
    color: #fff;
    font-weight: 300;
  }

  .Text {
    color: #fff;
    .sender {
      color: #fff;
    }
  }
}

.ChatLeft {
  width: 65px;
  display: flex;
  align-items: center;
}

.ChatImg {
  max-width: 100%;
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.ChatCenter {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2px 0;
  justify-content: space-between;
  margin: 0;
}

.Title {
  font-weight: 500;
  margin: 0;
  font-size: 14px;
}

.Text {
  margin: 0;
  color: #777;
  font-size: 13px;

  .sender {
    color: #44c0f0;
  }
}

.ChatRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;

  p {
    margin: 0;
    font-size: 13px;
  }

  span {
    font-size: 16px;
  }
}