.Layout {
  height: 100vh;
  //background: rgb(49,43,150);
  //background: linear-gradient(90deg, rgba(49,43,150,1) 0%, rgba(52,52,166,1) 35%, rgba(0,212,255,1) 100%);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  display: flex;
  
  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.Left {
  height: 100%;
  display: flex;
  justify-content: start;
  flex-grow: 1;

  @media (max-width: 860px) {
    flex-grow: 0;
    height: auto;
  }
}

.ChatAndSearch {
  background: #fff;
  width: auto;
  //max-width: 600px;
  min-width: 350px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-right: 1px solid #707579;

  @media (max-width: 860px) {
    display: none;
  }
}

.Right {
  flex-grow: 2;
  background-size: cover;
}