.Layout {
  height: 100vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  display: flex;
  
  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.Left {
  height: 100%;
  display: flex;
  justify-content: start;
  flex-grow: 1;

  @media (max-width: 860px) {
    flex-grow: 0;
    height: auto;
  }
}

.ChatAndSearch {
  background: #fff;
  max-width: 600px;
  min-width: 400px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-right: 1px solid #707579;

  @media (max-width: 860px) {
    display: none;
  }
}

.Right {
  flex-grow: 1;
  width: 100%;
  background-size: cover;
  
  @media (max-width: 860px) {

  }
}