.Message {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
  margin: 10px 0;

  p {
    margin: 0;
    padding: 7px 5px 5px 8px;
    max-width: 40%;
    min-width: 50px;
    word-break: break-all;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
  }
}

.TextMessage {
  vertical-align: top;
}

.YourMessage {
  p {
    background: #eefdde;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .MessageTailFilled {
    display: block;
    margin-bottom: -1px;
    fill: #eefdde;
  }
}

.HisMessage {
  align-items: flex-end;
  justify-content: flex-end;
  p {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    //flex-grow: 1;
    margin-left: auto;
  }

  .MessageTailFilled {
    transform: scaleX(-1);
    order: 1;
    fill: #fff;
    margin-left: -1px;
  }
}

.MessageTailFilled {
  display: block;
  margin-bottom: -1.1px;
  flex-grow: 0;
  flex-shrink: 0;
}

.Date {
  display: inline-block;
  margin-top: 10px;
  padding-left: 7px;
  font-size: 11px;
  color: #aaa;
  flex-shrink: 0;
  margin-left: auto;
}