.Menu {
  background: #293a4c;
  width: 80px;
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: 680px) {
    flex-direction: row;
    width: 100%;
    display: none;
  }
}

.Wrapper {
  width: 100%;
}

.List {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 680px) {
    flex-direction: row;
    width: 100%;
  }

  li {
    width: 100%;
    flex-grow: 1;
  }
}